<!-- Footer -->
<footer>
    <div class="social-buttons" style="text-align: center;">      
		<div>
			<ul class="list-inline">
				<li>
					<a href="https://github.com/dltasolutions">
						<span class="fa-stack fa-lg">
							<i class="fa fa-github fa-2x fa-fw"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="fa-stack fa-lg">
							<i class="fa fa-twitter fa-2x fa-fw"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="">
						<span class="fa-stack fa-lg">
							<i class="fa fa-facebook fa-2x fa-fw"></i>
						</span>
					</a>
          		</li>
          		<li>
					<a href="">
						<span class="fa-stack fa-lg">
							<i class="fa fa-envelope-o fa-2x fa-fw"></i>
						</span>
					</a>
          		</li>
			</ul>
		</div>
	</div>
	<div class="copyright text-muted small" style="text-align: center;"> 
		<p>{{ site.copyright }}</p>
		<!--<p>{{ site.credits }}</p>-->
	</div>
</footer>